/* sidebar styles */
.sidebar {
    background: linear-gradient(to bottom, #fc8240 30%, #b64a0f 80%, #7e2d01 100%);
    /* background-color: #b64a0f; */
    color: #ffffff;
    width: 280px;
}

@media screen and (max-width: 767px) {
    .sidebar {
        width: 60px;
    }
}

/* navbar styles */
.navbar-brand:hover {
    color: #87B76f;
}

.nav-pills .nav-link.active {
    background-color: #FBC2A3;
    color: #55823e;
}

.nav-item .nav-link {
    color: #ffffff;
}

.nav-item .nav-link:hover {
    border: 1px solid #ffffff;
}

/* main background styles */
.item-list-container {
    background: url('../Pictures/watercolor-background_91008-403.avif') no-repeat;
    background-size: cover;
    object-fit: cover;
}

.feedback-container {
    min-height: 80vh;
}

.btn-add {
    background-color: #fc8240;
}

.btn-add:hover {
    background-color: #87B76f;
}

.btn-dashboard {
    box-shadow: 10px 10px 20px 0px #d6c384;
}

.btn-dashboard:hover {
    background-color: #fc8240;
}

/* footer styles */
.footer {
    background: linear-gradient(to bottom, #b64a0f 20%, #7e2d01 100%);
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.footer a:hover {
    color: #AFEAE0;
}

/* utilities */
.bg-yellow-light {
    background: #FCEEBE;
}

.bg-orange {
    background-color: #fc8240;
}

.bg-white {
    background-color: #ffffff;
}

.bg-red {
    background-color: #f57375;
}

.bg-green {
    background-color: #90be79;
}

.bg-blue {
    background-color: #8ddfdc;
}

.clr-red {
    color: #FA5557;
}

.clr-orange {
    color: #fc8240;
}

.clr-orange-light {
    color: #FBC2A3;
}

.clr-green {
    color: #55823e;
}
