@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.navbar{
  padding: 0 5rem;
}

.navbar-light .navbar-nav .nav-link.active{
color: #FA5557;

}

.bg-light {
  background-color: white!important;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
}

.collapse{
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
}

.navbar-light .navbar-brand {
  font-size: 1.5rem;
  color: #FA5557;
  font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
  color: #FA5557;
  font-weight: 700;
  margin: 1rem 0.75rem;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link:hover{
color: rgb(14, 97, 14);
transition: 0.5s;
}

.fa-solid{
  margin-right: 0.4rem;
}

.balance{
  padding: 0.75%;
  background-color: #679996;
  text-decoration: none;
  color: white;
  border-radius: 5%;
  font-size: 1.1rem;
}

.main_container{
  display: flex;
  flex-direction: column;
}

.main_container h2{
  font-weight: bold
}

.content{
  display: flex;
  justify-content: center;
}

.food-menu{
  background-color: #ececec;
  padding: 4% 0;
  display: flex;
}

.food-menu-box{
  width: 30%;
  margin: 1%;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.food-menu-box .food-menu-img{
  width: 35%;
  padding: 0.5rem;
}

.food-menu-img img{
  width: 100%;
  border-radius: 5%;
}

.food-menu-desc{
  width: max-content;
  margin-left: 5%;
}

.productname{
  font-size: 1.1rem;
}

footer {
	background-color: #F9A272;
	text-align: center;
  padding: 1rem 0;
  height: 15vh;
  display: flex;
  align-items: center;
}

footer .container .row{
  display: flex;
  justify-content: space-around;
}

footer p {
	color: #fff;
	margin-top: 5px;
  margin-bottom: 5px;
}

footer p em {
	font-style: normal;
	color: #f2745f;
	font-weight: 500;
}

.price{
  font-size: 0.9rem;
  margin: 2% 0;
}

.cart-container {
  width: 50%;
  border:1px solid white;
  border-radius:5px;
  margin-top:1em;
  padding:1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart{
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-container .cart h2{
  font-size: 2.5rem;
  color: #F9A272;
  text-align: center;
  font-weight: bold;
}

.cart-container .cart hr{
  color: #F38630;
  margin: 2rem 0;
}

button, input[type="submit"] { 
  border:1px solid #FA6900; 
  color:#fff; 
  background: #F38630; 
  padding:0.6em 1em;
  font-size:0.9em; 
  line-height:1; 
  border-radius: 1.2em;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
button:hover, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  background: #A7DBD8;
  border-color:#69D2E7;
  color:#000;
  cursor: pointer;
}
table {
  margin-bottom:1em;
  border-collapse:collapse;
}
table td, table th {
  text-align:left;
  padding:0.25em 1em;
  border-bottom:1px solid #E0E4CC;
}
.cart-buttons {
  width:auto;
  display:flex;
  justify-content:flex-end;
  padding:1em 0;
}
#emptycart {
  margin-right:1em;
}
table td:nth-last-child(1) {
  text-align:right;
}
.message {
  text-align: center;
  width: 100%;
  color:white;
  padding:0.5em 0;
  margin:1em 0;
  font-size: larger;
  background-color: #679996;
}
